.navbar {
    background-color: #76D7C4;
}

.quem-somos{
    background-color: darkgray;
}

.margin{
    padding-top: 30px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #F2F3F4;
}

.bg-footer{
    background-color: black;
    color: white;
}